<div class="card" style="width: 18rem;">
    <img [src]="producto.imagen" class="card-img-top">
    <div class="card-body">
      <h5 class="card-title">{{producto.nombre}}</h5>
      <p class="card-text">{{producto.detalle}}</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Precio: ${{producto.precio}}</li>

    </ul>
    <div class="card-body">
      <a [routerLink]="['/categoria', producto.categoria.id]" class="card-link">Volver</a>
    </div>
</div>